// Colors

$body-background: #fff;
//$theme-color-main: #79AFE8;
//$theme-color-main: #0E3054;
//$theme-color-main: #416790;
$theme-color-main: #3d5772;


$theme-color-main-contrast: #fff;

// Radius

$border-radius-sm: 4px;
