<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                I started my career as an electronic engineer. Over the years I gradually started discovering my passion for software development.
            </p>
            <p>
                   I see myself as quite a versatile engineer having worked in a wide variety of environments, cultures and technologies. 
                I love learning and growing and therefore also completed my masters degree in Software Engineering through the University of Witwatersrand in 2017. More recently I also completed my AWS Cloud Practitioner certification. 
            </p>
            <p>
                    Over the years I have carefully crafted my soft skills and improved my leadership abilities. I have been commended a few times for my good communication skills and emotional intelligence in my current working environment.
            </p>
        </div>

    </div>
</section>