<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p>
                I started my career as an electronic engineer. Over the years I gradually started discovering my passion for software development. I taught myself to program by playing around after hours.
            </p>
            <p>
                Although I'm currently working in the engineering division of a telecoms company, my present role has a strong emphasis on software development and information systems, specifically those that exist in the Radio Access Network environment of a cellular network. My software development skills are applied in cellular RAN (Radio Access Network) planning, configuration and optimisation.
            </p>
        </div>

    </div>
</section>