<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-sm-6">
        <div class="view view-tenth">
            <img class="img-responsive"
                src="web-dist/images/roosdupreez.png" alt="">
            <div class="mask">
                <h2>roosdupreez.co.za</h2>
                <p>A marketing website for a medico-legal occupational therapy
                    private practice</p>
                <a href="http://www.roosdupreez.co.za" class="info">Visit website</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="view view-tenth">
            <img class="img-responsive"
                src="web-dist/images/tien-kilo.png" alt="">
            <div class="mask">
                <h2>tien-kilo.co.za</h2>
                <p>A communication and social website for the owners of a shared
                    title farm near Swartruggens in the North-West province</p>
                <a href="http://www.tien-kilo.co.za" class="info">Visit website</a>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/instopp.png"
                    alt="">
                <div class="mask">
                    <h2>instopp.co.za</h2>
                    <p>A knowledge sharing and communication website for the Institute
                        of Occupational Therapists in Private Practice (INSTOPP)</p>
                    <a href="http://www.instopp.co.za" class="info">Visit website</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6"></div>
</section>