<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/unio-reduced-size.jpg"
                    alt="">
                <div class="mask">
                    <h2>UNIO</h2>
                    <p>A web based mobile network performance analysis tool for MTN. 
                    The tool makes troubleshooting the performance of a mobile network very quick and easy.
                    </p>
                    <p>The tool was developed using PHP and a self developed lightweight framework.</p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/sttg3.jpg"
                    alt="">
                <div class="mask">
                    <h2>Big Data Visualisation</h2>
                    <p>A group project completed as part of a M.Eng degree at the University of Witwatersrand. 
                    A web based dashboard was developed to visualise a publicly available "big data" data source from the <a href="http://www.worldbank.org/">World Bank</a>.
                    </p>
                    <p>
                    The dashboard was developed using Node.js technology and makes use of the <a href="https://expressjs.com/">Express.js</a> framework.
                    </p>
                    <p>The author was allocated the responsibility of implementing the framework and structure that the web application would use. In addition to this the author was also tasked to develop the indicator dashboard and maintain the project wiki (located <a href="https://bitbucket.org/snyman_t/sttg3webapp/wiki/home">here</a>). A comprehensive help page providing the members with an overview of the framework and how to implement their dashboards using the framework was developed (located <a href="https://bitbucket.org/snyman_t/sttg3webapp/wiki/framework_overview">here</a>).
                    </p>
                    <a href="https://bitbucket.org/snyman_t/sttg3webapp" class="info">Git Repository</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive"
                    src="web-dist/images/roosdupreez.jpg" alt="">
                <div class="mask">
                    <h2>roosdupreez.co.za</h2>
                    <p>A marketing website for a medico-legal occupational therapy
                        private practice</p>

                    <p>The website was built using PHP and the <a href="https://laravel.com/">Laravel</a> framework.</p>
                    <a href="http://www.roosdupreez.co.za" class="info">Visit website</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive"
                    src="web-dist/images/tien-kilo-new.jpg" alt="">
                <div class="mask">
                    <h2>tien-kilo.co.za</h2>
                    <p>A communication and social web application for the owners of a shared
                        title farm near Swartruggens in the North-West province</p>
                    <p>The application was built using PHP and the <a href="https://laravel.com/">Laravel</a> framework</p>
                    <a href="http://www.tien-kilo.co.za" class="info">Visit website</a>
                </div>
            </div>
        </div>    
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/instopp-new.jpg"
                    alt="">
                <div class="mask">
                    <h2>instopp.co.za</h2>
                    <p>A knowledge sharing and communication website for the Institute
                        of Occupational Therapists in Private Practice (INSTOPP)</p>
                    <p>The website was built using PHP and the Laravel framework</p>
                    <p>Unfortunately this website has in the meantime been replaced and is not publicly available anymore.</p> 
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/rnm-reduced-size.jpg"
                    alt="">
                <div class="mask">
                    <h2>Road Network Maintenance</h2>
                    <p> A group project completed as part of a M.Eng degree at the University of Witwatersrand.
                        This Java application models the domain of a system to aid the transport department of local government in maintaining their assets, which include not only the road network but also supporting infrastructure.

                        <!--
                                            The task for this project is to design and prototype a system which aid the
                        transport department of local government in maintaining their assets, which in include
                        not only the road network but also supporting infrastructure
                        -->
                    </p>
                    <p>
                    The application was developed using Behavior Driven Development (BDD) and Test Driven Development (TDD) approaches. <a href="https://cucumber.io/">Cucumber</a> and <a href="http://junit.org">JUnit</a> were used as testing frameworks. The design methodology used was Domain Driven Design (DDD). 
                    </p>
                    <a href="https://bitbucket.org/snyman_t/rnm" class="info">Git Repository</a>
                </div>
            </div>

        </div>
    </div>
</section>