<section class="container container-instagram">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/unio-reduced-size.jpg"
                    alt="">
                <div class="mask">
                    <h2>UNIO</h2>
                    <p>A web based mobile network performance analysis tool for MTN. 
                    The tool makes troubleshooting the performance of a mobile network very quick and easy.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/sttg3.jpg"
                    alt="">
                <div class="mask">
                    <h2>Big Data Visualisation</h2>
                    <p>A web based dashboard for visualising a publicly available big data source.
                    </p>
                    <a href="https://bitbucket.org/snyman_t/sttg3webapp" class="info">Git Repository</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive"
                    src="web-dist/images/roosdupreez.jpg" alt="">
                <div class="mask">
                    <h2>roosdupreez.co.za</h2>
                    <p>A marketing website for a medico-legal occupational therapy
                        private practice</p>
                    <a href="http://www.roosdupreez.co.za" class="info">Visit website</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive"
                    src="web-dist/images/tien-kilo-new.jpg" alt="">
                <div class="mask">
                    <h2>tien-kilo.co.za</h2>
                    <p>A communication and social website for the owners of a shared
                        title farm near Swartruggens in the North-West province</p>
                    <a href="http://www.tien-kilo.co.za" class="info">Visit website</a>
                </div>
            </div>
        </div>    
        
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/instopp-new.jpg"
                    alt="">
                <div class="mask">
                    <h2>instopp.co.za</h2>
                    <p>A knowledge sharing and communication website for the Institute
                        of Occupational Therapists in Private Practice (INSTOPP)</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="view view-tenth">
                <img class="img-responsive" src="web-dist/images/rnm-reduced-size.jpg"
                    alt="">
                <div class="mask">
                    <h2>Road Network Maintenance</h2>
                    <p> A group project completed as part of a M.Eng degree at the University of Witwatersrand.
                        This Java application models the domain of a system to aid the transport department of local government in maintaining their assets, which include not only the road network but also supporting infrastructure.

                        <!--
                                            The task for this project is to design and prototype a system which aid the
                        transport department of local government in maintaining their assets, which in include
                        not only the road network but also supporting infrastructure
                        -->
                    </p>
                    <a href="https://bitbucket.org/snyman_t/rnm" class="info">Git Repository</a>
                </div>
            </div>

        </div>
    </div>
</section>